In [25]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_raw = "Resources/schools_complete.csv"
student_raw = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
scdf = pd.read_csv(school_raw)
stdf = pd.read_csv(student_raw)

# Combine the data into a single dataset
cdf = pd.merge(scdf, stdf, how="left", on=["school_name", "school_name"])
cdf.head(2)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61

In [2]:
ccdf = cdf[['reading_score', 'math_score']]
ccdf = pd.DataFrame(ccdf)
ccdf['bps'] = cdf['budget'] / cdf['size']
ccdf['pm'] = cdf['math_score'] >= 70
ccdf['pr'] = cdf['reading_score'] >= 70
ccdf

       reading_score  math_score    bps     pm     pr
0                 66          79  655.0   True  False
1                 94          61  655.0  False   True
2                 90          60  655.0  False   True
3                 67          58  655.0  False  False
4                 97          84  655.0   True   True
...              ...         ...    ...    ...    ...
39165             99          90  638.0   True   True
39166             95          70  638.0   True   True
39167             73          84  638.0   True   True
39168             99          90  638.0   True   True
39169             95          75  638.0   True   True

[39170 rows x 5 columns]

In [3]:
# Sample bins. Feel free to create your own bins.
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
ccdf['Spending Ranges(Per Student)'] = pd.cut(ccdf["bps"], bins, labels=group_names)
ccdf

,reading_score,math_score,bps,pm,pr,Spending Ranges(Per Student)
0,66,79,655.0,True,False,$645-675
1,94,61,655.0,False,True,$645-675
2,90,60,655.0,False,True,$645-675
3,67,58,655.0,False,False,$645-675
4,97,84,655.0,True,True,$645-675
...,...,...,...,...,...,...
39165,99,90,638.0,True,True,$615-645
39166,95,70,638.0,True,True,$615-645
39167,73,84,638.0,True,True,$615-645
39168,99,90,638.0,True,True,$615-645
39169,95,75,638.0,True,True,$615-645

In [15]:
gbo = ccdf.groupby("Spending Ranges(Per Student)")
gbo.count().head()

                              reading_score  math_score    bps     pm     pr
Spending Ranges(Per Student)
<$585                                  6368        6368   6368   6368   6368
$585-615                               2723        2723   2723   2723   2723
$615-645                              17766       17766  17766  17766  17766
$645-675                              12313       12313  12313  12313  12313

In [16]:
gcdf = gbo.agg({  "reading_score":"mean",
                  "math_score":"mean", 
                  "pm":"sum", 
                  "pr":"sum"
               })
gcdf['tc'] = gbo['bps'].count()
gcdf

,reading_score,math_score,pm,pr,tc
Spending Ranges(Per Student),,,,,
<$585,83.964039,83.363065,5967.0,6157.0,6368
$585-615,83.838414,83.529196,2563.0,2611.0,2723
$615-645,81.434088,78.061635,12685.0,14855.0,17766
$645-675,81.005604,77.049297,8155.0,9987.0,12313

In [20]:
gcdf['% Passing Math'] = gcdf.pm / gcdf.tc
gcdf['% Passing Reading'] = gcdf.pr / gcdf.tc
gcdf['% Overall Passing Rate'] = (gcdf['% Passing Reading'] + gcdf['% Passing Math']) / 2
gcdf

,reading_score,math_score,pm,pr,tc,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges(Per Student),,,,,,,,
<$585,83.964039,83.363065,5967.0,6157.0,6368,0.937029,0.966866,0.951947
$585-615,83.838414,83.529196,2563.0,2611.0,2723,0.941241,0.958869,0.950055
$615-645,81.434088,78.061635,12685.0,14855.0,17766,0.714004,0.836148,0.775076
$645-675,81.005604,77.049297,8155.0,9987.0,12313,0.662308,0.811094,0.736701

In [23]:
fdf = gcdf.rename(columns={'reading_score':'Average Reading Score',
                           'math_score':'Average Math Score'})

fdf = fdf[[ 'Average Math Score','Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing Rate']]

fdf.style