In [41]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_raw = "Resources/schools_complete.csv"
student_raw = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
scdf = pd.read_csv(school_raw)
stdf = pd.read_csv(student_raw)

# Combine the data into a single dataset
cdf = pd.merge(scdf, stdf, how="left", on=["school_name", "school_name"])

cdf["% Reading"] = cdf['reading_score'] >= 70
cdf["% Math"] = cdf['math_score'] >= 70
# cdf["Per Student Budget"] = cdf.budget.unique()/cdf.size.unique()

ccdf = cdf[[
 'school_name',
 'type',
 'size',
 'budget',
 'reading_score',
 'math_score',
 '% Reading',
 '% Math'
 ]]

gcdf = ccdf.groupby(cdf.school_name)

# Run functions on all columns with agg. to acquire necessary variables
ngcdf = gcdf.agg({"school_name":"min",
                  "type": "min", 
                  "size":"min", 
                  "budget":"min",
                  "reading_score":"mean",
                  "math_score":"mean", 
                  "% Math":"sum", 
                  "% Reading":"sum"})
ngcdf = pd.DataFrame(ngcdf)

# Create 4 new columns
ngcdf['% Passing Math'] = ngcdf['% Math']/ngcdf['size']*100
ngcdf['% Passing Reading'] = ngcdf['% Reading']/ngcdf['size']*100
ngcdf['Per Student Budget'] = ngcdf['budget']/ngcdf['size']
ngcdf['% Overall Passing Rate'] = (ngcdf['% Passing Math'] + ngcdf['% Passing Reading'])/2
# Format columns for readability
ngcdf["size"] = ngcdf["size"].map("{:,}".format)
ngcdf["budget"] = ngcdf["budget"].map("${:,.2f}".format)
ngcdf["Per Student Budget"] = ngcdf["Per Student Budget"].map("${:,.2f}".format)
ngcdf["math_score"] = ngcdf["math_score"].map("{:.2f}%".format)
ngcdf["reading_score"] = ngcdf["reading_score"].map("{:.2f}%".format)
ngcdf["% Passing Math"] = ngcdf["% Passing Math"].map("{:.2f}%".format)
ngcdf["% Passing Reading"] =ngcdf["% Passing Reading"].map("{:.2f}%".format)
ngcdf["% Overall Passing Rate"] = ngcdf["% Overall Passing Rate"].map("{:.2f}%".format)

ndf = ngcdf[['type', 
           'size',
           'budget', 
           'Per Student Budget',
           'math_score',
           'reading_score',
           '% Passing Math',
           '% Passing Reading',
           '% Overall Passing Rate']]

nndf = ndf.rename(
    columns={"type": "School Type",
             "size": "Total Students",
             "budget":"Total School Budget",
             "math_score":"Average Math Score",
             "reading_score":"Average Reading Score"})
del nndf.index.name

In [42]:
n3df = nndf.sort_values("% Overall Passing Rate", ascending=False)
n3df.iloc[:5].style

In [43]:
n4df = nndf.sort_values("% Overall Passing Rate", ascending=True)
n4df.iloc[:5].style