In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_raw = "Resources/schools_complete.csv"
student_raw = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
scdf = pd.read_csv(school_raw)
stdf = pd.read_csv(student_raw)

# Combine the data into a single dataset
cdf = pd.merge(scdf, stdf, how="left", on=["school_name", "school_name"])
cdf.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [2]:
huang = cdf.loc[cdf["school_name"] == "Huang High School", :]

In [3]:
huang.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [29]:
aa = huang9r.reading_score.count() + huang10r.reading_score.count() + huang11r.reading_score.count() + huang12r.reading_score.count()
aa

2917

In [23]:
huang9r = pd.DataFrame(huang.loc[huang['grade'] == '9th', 'reading_score'])
huang10r = pd.DataFrame(huang.loc[huang['grade'] == '10th', 'reading_score'])
huang11r = pd.DataFrame(huang.loc[huang['grade'] == '11th', 'reading_score'])
huang12r = pd.DataFrame(huang.loc[huang['grade'] == '12th', 'reading_score'])

huang9m = pd.DataFrame(huang.loc[huang['grade'] == '9th', 'math_score'])
huang10m = pd.DataFrame(huang.loc[huang['grade'] == '10th', 'math_score'])
huang11m = pd.DataFrame(huang.loc[huang['grade'] == '11th', 'math_score'])
huang12m = pd.DataFrame(huang.loc[huang['grade'] == '12th', 'math_score'])

In [35]:
# huang9rpf = np.sum(huang9r.loc[huang['grade'] == '9th', 'reading_score'] >= 70) / huang9r.reading_score.count()
# huang10rpf = np.sum(huang10r.loc[huang['grade'] == '10th', 'reading_score'] >= 70) / huang10r.reading_score.count()
# huang11rpf = np.sum(huang11r.loc[huang['grade'] == '11th', 'reading_score'] >= 70) / huang11r.reading_score.count()
# huang12rpf = np.sum(huang12r.loc[huang['grade'] == '12th', 'reading_score'] >= 70) / huang12r.reading_score.count()

huang9rpf = np.sum(huang9r.reading_score >= 70) / huang9r.reading_score.count()
huang10rpf = np.sum(huang10r.reading_score >= 70) / huang10r.reading_score.count()
huang11rpf = np.sum(huang11r.reading_score >= 70) / huang11r.reading_score.count()
huang12rpf = np.sum(huang12r.reading_score >= 70) / huang12r.reading_score.count()

print(huang9rpf)
print(huang10rpf)
print(huang11rpf)
print(huang12rpf)

In [6]:
huang9rpf = np.sum(huang9r.loc[huang['grade'] == '9th', 'reading_score'] >= 70)/huang9r.loc[huang['grade'] == '9th', 'reading_score'].count()

In [7]:
huang9r.count()

0.8127962085308057

In [20]:
huang9rpf = np.sum(huang9r.loc[huang['grade'] == '9th', 'reading_score'] >= 70) / huang9r.reading_score.count()

In [27]:
huang9rpf

0.8127962085308057