In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_raw = "Resources/schools_complete.csv"
student_raw = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
scdf = pd.read_csv(school_raw)
stdf = pd.read_csv(student_raw)

In [2]:
# Combine the data into a single dataset
cdf = pd.merge(scdf, stdf, how="left", on=["school_name"])
cdf.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [3]:
list(cdf.columns)

['School ID',
 'school_name',
 'type',
 'size',
 'budget',
 'Student ID',
 'student_name',
 'gender',
 'grade',
 'reading_score',
 'math_score']

In [4]:
ccdf = cdf[
 ['school_name',
 'type',
 'size',
 'budget',
 'student_name',
 'gender',
 'grade',
 'reading_score',
 'math_score']]

ccdf.head()

,school_name,type,size,budget,student_name,gender,grade,reading_score,math_score
0,Huang High School,District,2917,1910635,Paul Bradley,M,9th,66,79
1,Huang High School,District,2917,1910635,Victor Smith,M,12th,94,61
2,Huang High School,District,2917,1910635,Kevin Rodriguez,M,12th,90,60
3,Huang High School,District,2917,1910635,Dr. Richard Scott,M,12th,67,58
4,Huang High School,District,2917,1910635,Bonnie Ray,F,9th,97,84

In [5]:
sch_tot = len(cdf['school_name'].unique())
sch_tot

stu_tot = len(cdf.student_name.unique())
stu_tot

budget_tot_sch = scdf.budget.sum()
budget_tot = cdf.budget.unique().sum()
print(budget_tot)
print(budget_tot_sch)

read_avg = cdf.reading_score.mean()
math_avg = cdf.math_score.mean()
print(read_avg)
print(math_avg)

24649428
24649428
81.87784018381414
78.98537145774827

In [6]:
read_bool = cdf['reading_score'] >= 70
math_bool = cdf['math_score'] >= 70
read_pct = np.sum(read_bool)/read_bool.count()*100
math_pct = np.sum(math_bool)/math_bool.count()*100
tot_pct = (math_pct + read_pct)/2
print(read_pct)
print(math_pct)
print(tot_pct)

85.80546336482001
74.9808526933878
80.39315802910392

In [7]:
sccdf = pd.DataFrame([{"Total Schools": sch_tot,
         "Total Students": stu_tot,
         "Total Budget": budget_tot,
         "Average Math Score": math_avg,
         "Average Reading Score": read_avg,
         "% Passing Math": math_pct,
         "% Passing Reading": read_pct,
         "% Overall Passing Rate": tot_pct}])

sccdf
sccdf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,32715,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [8]:
sccdf["Total Budget"] = sccdf["Total Budget"].map("${:,.2f}".format)
sccdf["Average Math Score"] = sccdf["Average Math Score"].map("{:.2f}%".format)
sccdf["Average Reading Score"] = sccdf["Average Reading Score"].map("{:.2f}%".format)
sccdf["% Passing Math"] = sccdf["% Passing Math"].map("{:.2f}%".format)
sccdf["% Passing Reading"] =sccdf["% Passing Reading"].map("{:.2f}%".format)
sccdf["% Overall Passing Rate"] = sccdf["% Overall Passing Rate"].map("{:.2f}%".format)
sccdf["Total Students"] = sccdf["Total Students"].map("{:,}".format)

In [9]:
sccdf.style