In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_raw = "Resources/schools_complete.csv"
student_raw = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
scdf = pd.read_csv(school_raw)
stdf = pd.read_csv(student_raw)

# Combine the data into a single dataset
cdf = pd.merge(scdf, stdf, how="left", on=["school_name", "school_name"])

ccdf = cdf[['type', 'reading_score', 'math_score']]
ccdf = pd.DataFrame(ccdf)
ccdf['pm'] = cdf['math_score'] >= 70
ccdf['pr'] = cdf['reading_score'] >= 70
ccdf = ccdf.rename(columns={'type':'School Type'})
ccdf.head(2)

  School Type  reading_score  math_score     pm     pr
0    District             66          79   True  False
1    District             94          61  False   True

In [13]:
gbo = ccdf.groupby('School Type')

gdf = gbo.agg({  "reading_score":"mean",
                  "math_score":"mean", 
                  "pm":"sum", 
                  "pr":"sum"
               })
gdf['tc'] = gbo['School Type'].count()
gdf

             reading_score  math_score       pm       pr     tc
School Type
Charter          83.902821   83.406183  11426.0  11785.0  12194
District         80.962485   76.987026  17944.0  21825.0  26976

In [14]:
gdf['% Passing Math'] = gdf.pm / gdf.tc
gdf['% Passing Reading'] = gdf.pr / gdf.tc
gdf['% Overall Passing Rate'] = (gdf['% Passing Reading'] + gdf['% Passing Math']) / 2
gdf

,reading_score,math_score,pm,pr,tc,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,,,,
Charter,83.902821,83.406183,11426.0,11785.0,12194,0.937018,0.966459,0.951739
District,80.962485,76.987026,17944.0,21825.0,26976,0.665184,0.809052,0.737118

In [15]:
fdf = gdf.rename(columns={'reading_score':'Average Reading Score',
                           'math_score':'Average Math Score'})

fdf = fdf[[ 'Average Math Score','Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing Rate']]

fdf.style